<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--  *** for Example *** -->
  <!--
  <connectionStrings>
    <add xdt:Transform="Replace" name="APPDATAEntities" connectionString="metadata=res://*/EgvpEnterpriseReceiverModel.csdl|res://*/EgvpEnterpriseReceiverModel.ssdl|res://*/EgvpEnterpriseReceiverModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[host]\[SQL_Instance];initial catalog=[DBName];integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <applicationSettings>
    <OvgRlp.EgvpEpReceiver.Properties.Settings>
      <setting xdt:Transform="Replace" xdt:Locator="Match(name)" name="LogDbConnectionString" serializeAs="String">
        <value>Data Source=[host]\[SQL_Instance];Initial Catalog=[DBName];Integrated Security=True</value>
      </setting>
    </OvgRlp.EgvpEpReceiver.Properties.Settings>
  </applicationSettings>

  <system.serviceModel>
    <client>
      <endpoint xdt:Transform="Replace" xdt:Locator="Match(contract)"  address="http://[host]:[port]/EGVP-WS/EGVP-WebService" binding="basicHttpBinding" bindingConfiguration="EgvpService_EgvpPort" contract="EgvpEnterpriseSoap.EgvpPortType" name="EgvpPort" />
    </client>
  </system.serviceModel>
  -->
</configuration>