<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EgvpService_EgvpPort" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" transferMode="Streamed"
          messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://[host]:[port]/EGVP-WS/EGVP-WebService" binding="basicHttpBinding" bindingConfiguration="EgvpService_EgvpPort" contract="EgvpEnterpriseSoap.EgvpPortType" name="EgvpPort" />
    </client>
  </system.serviceModel>
</configuration>