<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OvgRlp.EgvpEpFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="APPDATAEntities" connectionString="metadata=res://*/EgvpEnterpriseFetcherModel.csdl|res://*/EgvpEnterpriseFetcherModel.ssdl|res://*/EgvpEnterpriseFetcherModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5500S-SQL1\ERV;initial catalog=APPDATADEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <OvgRlp.EgvpEpFetcher.Properties.Settings>
      <setting name="configfile" serializeAs="String">
        <value>C:\dev\repos\EGVP-Enterprise-Fetcher\testing\config.default.xml</value>
      </setting>
      <setting name="tempDir" serializeAs="String">
        <value>C:\dev\repos\EGVP-Enterprise-Fetcher\testing\temp</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>C:\dev\repos\EGVP-Enterprise-Fetcher\testing\temp\logging</value>
      </setting>
      <setting name="LogDbConnectionString" serializeAs="String">
        <value>Data Source=5500S-SQL1\ERV;Initial Catalog=APPDATADEV;Integrated Security=True</value>
      </setting>
      <setting name="LogDbDatatable" serializeAs="String">
        <value>EgvpEnterpriseFetcherLog</value>
      </setting>
      <setting name="WaitingHoursAfterError" serializeAs="String">
        <value>24</value>
      </setting>
    </OvgRlp.EgvpEpFetcher.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EgvpService_EgvpPort" maxReceivedMessageSize="2147483647" />
        <binding name="EgvpPortSOAPBinding" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.79.73:8080/EGVP-WS/EGVP-WebService" binding="basicHttpBinding" bindingConfiguration="EgvpService_EgvpPort" contract="EgvpEnterpriseSoap.EgvpPortType" name="EgvpPort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>